/* General CSS - All screens */
@media (min-width: 50px) {     
    #title {
        padding: 0px;
        margin-top: 0px;
    }
    #content-header-img {
        background-image: url("/images/page_headers/about.jpg");
    }
    #about-resume {
        width: 80%;
        height: clamp(800px, calc(100vh - 100px - 55px - 30px),2000px);
        margin-top: 15px;
    }
}

/* Mobile CSS */
@media (max-width: 579px) { 

} 

/* Desktop CSS */
@media (min-width: 580px) { 

}

/* Max Width Desktop CSS */
@media (min-width: 1200px) { 

}