/* General CSS - All screens */
@media (min-width: 50px) {     
    button, input, select, label, textarea {
        margin: 0 5px;
        font-family: inherit;
        font-size: 100%;
        box-sizing: border-box;
        padding: 0; margin: 0;
    }
    select, input {
        height: 30px;
        border: 1px solid #1d2731;
    }
    label {
        width: 77px;
        height: auto;
        display: inline-block;
        text-align: left;
        line-height: 20px;
        height: 20px;
    }

    #content-header-img {
        background-image: url("/images/page_headers/contact.jpg");
    }

    #content-form {
        width: 96%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #gform {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .form-fieldlabel {
        padding: 5px 0;
    }
    #content-form-message{ /* Textarea for message */
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 5px 0 0 0;
    }
    #gform, #content-form-name, #content-form-email-and-category, textarea {
        width: 100%;
        max-width: 1000px;
    }
    textarea {
        width: calc(100% - 1px);
        overflow: auto;
        height: 250px;
        padding: 5px 8px;
        margin: 8px 0 0 1px;
    }
    input[type="submit"] {
        width: 77px;
        margin: 10px 0 0 1px;
        border-radius: 3px;
        box-shadow: none;
        text-shadow: none;
        background: #a1d9fc;
    }
    input[type="submit"]:hover {
        background: #7ecbf8;
    }
}

/* Mobile CSS */
@media (max-width: 579px) {
    .form-fieldlabel, .form-fieldlabel-2 {
        display: grid;
        grid-template-columns: 88px 1fr;
        grid-template-areas: "first second";
        align-items: center;
        max-width: 290px;
    }
}

/* Super Tiny Mobile CSS */
@media (max-width: 319px) {
    label {
        text-align: left;
        margin: 5px 0;
    }
    input, select {
        width: 100%;
    }
    #content-form-name {
        display: block;
    }
    #content-form-email-and-category {
        display: block;
    }
    #content-form-message {
        display: block;
    }
    .form-fieldlabel {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .form-fieldlabel-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

/* Desktop CSS */
@media (min-width: 580px) {
    select, input {
        width: 100%;
    }
    #content-form-name, #content-form-email-and-category, .form-fieldlabel, .form-fieldlabel-2 {
        display: grid;
        grid-template-areas: "first second";
    }
    #content-form-name, #content-form-email-and-category {
        grid-template-columns: 50% 50%;
    }
    .form-fieldlabel, .form-fieldlabel-2 {
        align-items: center;
    }
    .form-fieldlabel {
        grid-template-columns: 82px 1fr;
    }
    .form-fieldlabel-2 {
        grid-template-columns: 92px 1fr;
    }
    .second-label {
        margin: 0 5px 0 10px;
    }

}