/* General CSS - All screens */
@media (min-width: 50px) {     
    #content-header-img {
        background-image: url("/images/contact.jpg");
    }
    #content-text {
        align-self: flex-start;
        margin: 0 2%;
    }
    #content-social-title {
        margin: 0 0 10px 0;
    }
}

/* Mobile CSS */
@media (max-width: 579px) { 

} 

/* Desktop CSS */
@media (min-width: 580px) { 

}