/* General CSS - All screens */
@media (min-width: 50px) {   
    #content {
        min-height: 100px;
        background: white;      
    }
    
    #main-intro {
        padding: 0 auto;
        display: flex;

    }
}

/* Mobile CSS */
@media (max-width: 579px) { 
    
} 

/* Desktop CSS */
@media (min-width: 580px) { 
}

/* Max Width Desktop CSS */
@media (min-width: 1200px) { 

}