@media (min-width: 200px) {     /* for general stylings (all screens) */
    html, body {
        height: 100%
    }
    
    body {
        margin: 0;
        font-family: 'Source Sans Pro', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #pre-footer {
        flex: 1 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #content {
        min-width: 600px;
        width: 60%;
    }
    
    footer {
        flex-shrink: 0;
        margin: 0 0 5pt 0;
        min-width: 600px;
        width: 60%;
    }
    
    footer p::before {
        content: "© 2021 Hayden Mak";
    }   

    /* Header CSS */
    header {
        padding: 0 0 0 0px;
        margin: 0;
        width: 100%;
        background: #1d2731;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
        width: min(100vw, 500px);
        margin:0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        overflow: hidden;
    }

    .buttons h1 {
        font-family: 'Source Sans Pro', sans-serif;
        margin: 0;
        padding: 0px 10px;
        text-align: center;
        display: inline;
        text-transform: uppercase;
        color: #d9b310;
    }

    div.buttons {
        margin: 0;
        padding: 0;
        display: inline;
        width: 100%;
    }

    div.buttons a {
        background: #083c5d;
        color: white;
        text-decoration: none;
        display: inline-block;
        list-style-type: none;
        padding: 5px 15px 3px 15px;
        border-width: 0;
        margin: 0 2px 0 0;
        font-family: 'Fira Sans Condensed', sans-serif;
    }

    div.buttons a:hover {
        background: #095d92;
    }

    a#current {
        background: #2279ac;
        border-style: solid;
        pointer-events: none;
        cursor: default;
    }

    .buttons .icon {
        display: none;
    }

    #divider {
        width: 100%;
        margin: 0;
        padding: 0;
        border-style: solid none none none;
        border-width: 5px;
        border-color: #328cc1;
    }
    /* Header CSS end */

} 
@media (max-width: 499px) {
    /* for only styles between 320px and 768px (most mobile devies) */
    .buttons a:not(:nth-child(2)) {display: none;}
    .buttons a.icon {
        float: right;
        display: block;
        padding: 6px 15px 6px 15px;
    }
    
    .buttons.responsive {position: relative;}
    .buttons.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .buttons.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}

@media (min-width: 500px) {
    nav{
        min-width: 500px;
    }
}