@media (min-width: 50px) {     /* for general stylings (all screens) */
    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    }
    
    body {
        background-image: url("/images/background.png");
        margin: 0;
        font-family: 'Source Sans Pro', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;
        overflow-x: hidden;  /* Hides horizontal scrollbar*/
        color: #1d2731;
    }
    a {
        color: #1d2731;
    }

    #pre-footer {
        flex: 1 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #content {
        min-height: calc(100vh - 100px - 55px - 20px); /* header, footer, padding */
        background: white;
        width: 100%;
        padding: 0 0 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #content-header-img {
        width: 100%;
        min-height: 30vh;
        max-height: 600px;
        background-repeat: no-repeat;
        background-size: auto;
        position: relative;        
        margin: 0 0 20px 0;
    }

    #content-header-img-description {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background: #0b3c5dd2;
        font-size: 30px;
        padding: 5px 5px;
    }

    #content-header-img-credits {
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        background: #0b3c5dd2;
        font-size: 12px;
        padding: 2px 2px;
        margin: 0;
    }

    div#content-header-img-credits a {
        color: white;
    }

    /* Soon to be deprecated for content-header-img */
    #title {
        margin: 25px auto 0 auto;
        padding: 0 0 4px 2.5%;
    }

    #title-text {
        text-align: center;
        white-space: nowrap;
    }
    /* End soon to be deprecated title */

    footer {
        height: 100%;
        flex-shrink: 0;
        width: 100%; 
        background: white;
        display: flex;
        flex-direction: column;
    }

    footer p {
        height: 100%;
        padding: 0 2%;
    }

    #footer-contact {
        margin: 10px 0 2px 0;
    }
    #footer-copyright {
        font-size: 0.9em;
        margin: 0 0 5px 0;
    }    
    #footer-copyright::after {
        content: "Copyright © Hayden Mak 2021";
    }

    /* Header CSS  - 31px tall */
    header {
        padding: 0 0 0 0px;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        width: min(100%, 580px);
        height: 31px;
        margin:0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        background: white;
    }

    nav #name-link {
        display: inline-block;
        text-decoration: none;
        margin: 0 7px 0 2.5%;
        width: auto;
    }

    

    nav #header-name {
        font-family: 'Nanum Gothic', sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
        color: #0b3c5d;
        font-size: 24px;
        line-height: 29px;
        text-decoration: none;
        width: fit-content;
    }

    nav .nav-link {
        color: #1d2731;
        text-decoration: none; /* No underline for links */
        padding: 8px 15px 4px 15px;
        border-width: 0;
        margin: 0 3px 0 0;
        font-family: 'Fira Sans Condensed', sans-serif;
        flex-shrink: 0;
        overflow: hidden;
        -moz-transition:color .1s ease-in-out;
        -o-transition:color .1s ease-in-out;
        -webkit-transition:color .1s ease-in-out;
    }

    nav .nav-link:hover {
        color: #328cc1;
    }

    nav .current {
        color: #0b3c5d;
    }

    nav .icon {
        display: none;
    }

    nav #home-link {
        display: none; 
    }

    nav .mobile {
        display: none;
    }
    /* Header CSS end */

    

    

} 

/* Mobile CSS */

@media (max-width: 579px) {
    #content {
        min-height: calc(100vh - 50px - 55px - 20px); /* header, footer, padding */
        background: white;
    }

    footer {
        width: min(96%, 579px);
        margin: 0 2%;
    }
    #title {
        margin: 0;
        padding: 0 0 20px 0;
    }
    #title-text {
        margin: 0;
        padding: 0;
    }

    /* Header CSS */
    nav {
        justify-content: start;
        height: 50px;
        align-items: center;
    }

    nav #nav-buttons {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    nav a {
        display: none;
    }

    nav .icon {
        float: left;
        display: block;
        padding: 15.5px 18px 15.5px 18px;
        margin: 0 0 0 0;
        width: 14px;
    }

    nav .current{
        order: 2;
    }

    nav #name-link{
        order: 3;
        display: block;
        margin-left: auto;
        flex-shrink: 1;
        padding: 15.5px 15px 15.5px 0;
    }
    
    /* responsive change */
    nav.responsive {
        display: grid;
        grid-template-columns: 44px calc(100% - 44px - 156.94px) 156.94px;
        grid-template-rows: 50px 31px 31px 31px 31px 31px 3px;
        width: 100%;
        height: 208px;
        grid-template-areas: 
            "icon name name"
            "about about about"
            "projects projects projects"
            "photos photos photos"
            "blog blog blog"
            "contact contact contact"
            "line line line";
    }
    nav.responsive #name-link {
        grid-area: name;
        display: block;
    }
    nav.responsive #about-link-mobile {
        grid-area: about;
        display: block;
    }
    nav.responsive  a.icon {
        grid-area: icon;
    }
    nav.responsive #projects-link-mobile {
        grid-area: projects;
        display:block;
    }
    nav.responsive #photography-link-mobile {
        grid-area: photos;
        display:block;
    }
    nav.responsive #blog-link-mobile {
        grid-area: blog;
        display:block;
    }
    nav.responsive #contact-link-mobile {
        grid-area: contact;
        display:block;
    }
    nav.responsive #responsive-bottom-border-mobile {
        display: block;
        background: #d9b310;
        grid-area: line;
        width: 100%;
        height: 3px;
    }
    /* Responsive Change end */
    /* Header CSS */
}

/* Desktop CSS */

@media (min-width: 580px) { 
    p {
        font-size: 16px;
        margin: 0 2.5%;
    }

    h1 {
        font-size: 30px;
        text-align: left;
        margin: 15px 0 20px 2.5%;
    }

    #content {
        width: clamp(calc(580px - 4%), 100%, 1200px);  /* minus 2% (padding) each side  */
    }

    footer {
        width: clamp(580px, 100%, 1200px);
    }
    
    /* Header CSS */
    nav {
        width: clamp(580px, 100%, 1200px);
        padding: 0;
        height: 100px;
        justify-content: center;
        align-items: center;        
    }

    nav #name-link {
        padding: 0;
        margin: 0 calc(50% - 162.92px - 200.59px/2 - 2.5%) 0 calc(50% - 158.73px - 200.59px/2 - 2.5%);
        order: 2;
    }

    nav #header-name {
        font-size: 30px;
    }

    nav #header-left {
        order: 1;
        margin-left: 2.5%;
    }

    nav #header-right{
        order: 3;
        margin-right: 2.5%;
    }

    nav .header-flanks {
        padding: 5px 0px;
        border-top: 1px solid #0b3c5d;
        border-bottom: 1px solid #0b3c5d;
    }

    nav .nav-link {
        padding: 0 5px;
    }
    /* Header CSS End */
}

@media (min-width: 710px) {
    nav #name-link {
        margin: 0 calc(50% - 162.92px - 200.59px/2 - 2.5%) 0 calc(50% - 158.73px - 200.59px/2 - 2.5%);
    }
}