/* 2-column layout */
@media (min-width: 50px) {
    

    #content {
        display: flex;
        flex-direction: column;
    }

    .project-display {
        margin: 10px 2.5% 0 2.5%;
        display: flex;
        flex-wrap: wrap;
        width: min(95%, 1200px);
    }

    .tile {
        background: rgb(216, 216, 216);
        float: left;
        width: calc(min(100%, 1200px)/2 - max(20px, 2%) - 40px);
        margin: 0 10px 12px 0;
        padding: max(10px, 1%);
        border-radius: 8px;
    }

    .img-wrapper {
        width: 100%;
    }

    .tile-content {
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 999;
        border-radius: 5px;
    }
    
    .tile-title {
        padding: 4px 0 0 5px;
        margin: 0;
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
    }

    .tile-description {
        padding: 0 0 5px 5px;
        margin: 0;
        position: relative;
        height: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }

    /* End of vertical table */
} 

/* 1-column display  */
@media (max-width: 599px) { 
    .project-display {
        width: calc(min(100%, 1200px) - 10px);
        margin: 0 0 0 0;
    }

    .tile {
        width: calc(min(100%, 1200px) - max(10px, 1%) - 40px);
        height: calc(min(100%, 1200px) + 50px);
    }
    
} 

/* 3 column display */
@media (min-width: 1200px) { 

    .tile {
        width: calc(min(100%, 1200px)/3 - max(30px, 3%) - 30px);
        height: calc(min(100%, 1200px)/3 + 3%);
    }

}