@media (min-width: 50px) {     /* for general stylings (all screens) */
    h1 {
        text-align: center;
    }

    .project-display {
        margin: 0px 15px 10px 15px;
        display: flex;
        flex-wrap: wrap;
    }

    .tile {
        background: rgb(216, 216, 216);
        float: left;
        position: relative;
        width: 31%;
        margin: 7px 2% 7px 0;
        height: 0;
        padding: 31% 0 0 0;
    }

    .tile-content {
        width: 90%;
        height: 90%;
        object-fit: cover;
        margin: 5% 5%;
    }

    /* End of vertical table */
} 
@media (max-width: 499px) { /* for only styles between 320px and 768px (most mobile devies) */
    .tile {
        background: rgb(216, 216, 216);
        float: left;
        position: relative;
        width: 96%;
        margin: 7px 2% 7px 2%;
        height: 0;
        padding: 96% 0 0 0;
    }

    .tile-content {
        width: 90%;
        height: 90%;
        object-fit: cover;
        margin: 5% 5%;
    }
} 
@media (min-width: 500px) { /* general desktop && tablet styles if needed */

}