@media (min-width: 50px) {     /* for general stylings (all screens) */
    

    #content {
        display: flex;
        flex-direction: column;
    }

    .project-display {
        margin: 0;
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        width: min(100%, 1200px);
    }

    .tile {
        background: rgb(216, 216, 216);
        float: left;
        width: calc(min(100%, 1200px)/2 - 30px);
        margin: 0 10px 12px 0;
        padding: 10px 10px;
    }

    .tile-content {
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 999;
    }
    
    .tile-title {
        padding: 4px 0 0 5px;
        margin: 0;
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
    }

    .tile-description {
        padding: 0 0 5px 5px;
        margin: 0;
        position: relative;
        height: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }

    /* End of vertical table */
} 
@media (max-width: 599px) { /* for only styles between 320px and 768px (most mobile devies) */
    .project-display {
        width: calc(min(100%, 1200px) - 10px);
        margin: 0 0 0 10px;
    }

    .tile {
        width: calc(min(100%, 1200px) - 10px);
        height: calc(min(100%, 1200px) + 50px);
    }
    
} 
@media (min-width: 1200px) { /* general desktop && tablet styles if needed */
    .project-display {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        width: min(100%, 1200px);
    }

    .tile {
        width: calc(min(100%, 1200px)/3 - 30px);
        height: calc(min(100%, 1200px)/3 + 30px);
    }

}