/* General CSS - All screens */
@media (min-width: 50px) {
    /* Slideshow configuration from 
    http://css3.bradshawenterprises.com/cfimg/#cfimg3 */

    #slideshow{
        width: 100%;
        height: min(100vh - 100px, 912px);
        position: absolute;
        margin: 0;
        left: 0;
        background-position: calc(-1 * (1368px - min(1200px, 100vw)) / 2) calc(-1 * (912px - min(100vh - 100px, 912px) / 2));
        background-repeat: no-repeat;
        background-size: auto;

        animation-name: fadeinout;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 22s;
    }
      
    @keyframes fadeinout {
        0% {
            background-image: url("/images/me_1.jpg");
        }
        18.1818% {
            background-image: url("/images/me_1.jpg");
        }
        21.5909% {
            background-image: cross-fade(url("/images/me_1.jpg"), url("/images/me_2.jpg"));
        }
        25% {
            background-image: url("/images/me_2.jpg");
        }
        43.1818% {
            background-image: url("/images/me_2.jpg");
        }
        46.5909% {
            background-image: cross-fade(url("/images/me_2.jpg"), url("/images/me_3.jpg"));
        }
        50% {
            background-image: url("/images/me_3.jpg");
        }
        68.1818% {
            background-image: url("/images/me_3.jpg");
        }
        71.5909% {
            background-image: cross-fade(url("/images/me_3.jpg"), url("/images/me_4.jpg"));
        }
        75% {
            background-image: url("/images/me_4.jpg");
        }
        93.1818% {
            background-image: url("/images/me_4.jpg");
        }
        96.5909% {
            background-image: cross-fade(url("/images/me_4.jpg"), url("/images/me_1.jpg"));
        }
        100%{
            background-image: url("/images/me_1.jpg");
        }
    }
}

/* Mobile CSS */
@media (max-width: 579px) {
    #slideshow{
        height: calc(100vh - 31px);
        background-position: calc(-1 * (100vh - 31px) / 2) 0;
    }
} 

/* Desktop CSS */
@media (min-width: 580px) { 

}

/* Max Width Desktop CSS */
@media (min-width: 1200px) { 
    #slideshow{
        background-position: calc(-1 * (1368px - min(1200px, 100vw)) / 2) 0px;
    }
}