/* General CSS - All screens */
@media (min-width: 50px) {
    /* Slideshow configuration from 
    http://css3.bradshawenterprises.com/cfimg/#cfimg3 */

    
    #slideshow {
        position: relative;
        width: min(100vw, 1200px);
        height: 100%;
        margin: auto;
    }

    #slideshow div{
        width: min(100vw, 1200px);
        height: 100%;
        position:absolute;
        margin: 0;
        left: 0;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        animation-name: fadeinout;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 22s;
    }
      
    @keyframes fadeinout {
        0% {
            opacity:1;
        }
        18.1818% {
            opacity:1;
        }
        25% {
            opacity:0;
        }
        93.1818% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }

    #slideshow div:nth-of-type(1) {
        animation-delay: 16.5s;
        background-image: url("/images/me_1.jpg");
    }
    #slideshow div:nth-of-type(2) {
        animation-delay: 11s;
        background-image: url("/images/me_3.jpg");
    }
    #slideshow div:nth-of-type(3) {
        animation-delay: 5.5s;
        background-image: url("/images/me_2.jpg");
    }
    #slideshow div:nth-of-type(4) {
        animation-delay: 0s;
        background-image: url("/images/me_4.jpg");
    }
}

/* Mobile CSS */
@media (max-width: 499px) {
} 

/* Desktop CSS */
@media (min-width: 500px) { 

}

/* Max Width Desktop CSS */
@media (min-width: 1200px) { 

}