@media (min-width: 50px) {     /* for general stylings (all screens) */
    #content .typewriter {
        background: rgb(50, 140, 193);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 40vh;
        padding: 0;
        margin: 0 0 min(2vh, 25px) 0;
        border-radius: 0 0 6px 6px;
    }

    #content .typewriter h1 {
        color: white;
        font-size: 30px;
        display: inline-block;
        overflow: hidden;   
        white-space: nowrap; 
        margin: 0;
        letter-spacing: .05em; 
        filter: drop-shadow(-1px 1px 1px rgb(85, 85, 85));
    }
    
    .typewriter .current {
        border-right: .15em solid white; /* The typwriter cursor */
        animation: 
            blink-caret 1s step-end infinite;
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: white; }
    }
} 

/* Mobile CSS */
@media (max-width: 499px) { 
    #content .typewriter h1 {
        font-size: 24px;
    }
} 

/* Desktop CSS */
@media (min-width: 500px) { 

}